.navbar {
  background-color: #ffffff;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  position: sticky;
  top: 0;
  z-index: 20;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
  position: relative;
}

.nav-logo {
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
  width: 250px;
  display: flex;
  align-items: center;
  justify-items: center;
}

.nav-logo .icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin-left: 16px;
}

.nav-logo img {
  width: 275px;
}

.nav-menu {
  display: flex;
  list-style: none;
}

.nav-links {
  color: #003F63;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}


.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #0094CB;
}

.nav-item .active {
  color: #0094CB;
}

.nav-icon {
  display: none;
  color: #0094CB;
}

.nav-icon .icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #fff;
    position: absolute;
    top: 66px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.7);
    left: -10%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-item .active {
    color: #000000;
    border: none;
  }

  .nav-links {
    padding: 1.5rem;
    width: calc(100% - 3rem);
    display: table;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .nav-links-inner {
    width: 100%;
  }

  .nav-logo img {
    width: 225px;
  }

  .nav-logo .icon {
    width: 2rem;
    height: 2rem;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-100%, -50%);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    color: #000000;
  }
}

/* .navbar .leftSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 150px;
}

.navbar .leftSide img {
  width: 250px;
}

.navbar .rightSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .rightSide a {
  color: #003F63;
  text-decoration: none;
  margin: 20px;
  font-size: 23px;
  font-weight: 600;
  transition: color 0.3s;
  border-bottom: 2px solid transparent;
}

.navbar .rightSide a:hover {
  color: #0094CB; 
  border-bottom: 2px solid #0094CB
}

.navbar .rightSide button {
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.navbar .rightSide svg {
  font-size: 40px;
  transition: transform 0.3s;
}

.navbar .rightSide button:hover svg {
  transform: scale(1.2); 
}

.navbar #open {
  padding-left: 0px;
}
.navbar #open img {
  display: none;
}

.navbar #close img {
  display: inherit;
}

.navbar #open .hiddenLinks {
  display: inherit;
  margin-left: 30px;
}

.navbar #close .hiddenLinks {
  display: none;
}

.navbar #open a {
  width: 70px;
  margin: 5px;
}

.navbar .hiddenLinks a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 20px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid transparent; 
}

.navbar .hiddenLinks a:hover {
  color: #0094CB; 
  border-bottom: 2px solid #0094CB; 
}

@media only screen and (max-width: 900px) {
  .navbar .rightSide a {
    width: 70px;
  }
  .navbar .leftSide {
    padding-left: 50px;
  }

}

@media only screen and (max-width: 600px) {
  .navbar .rightSide a {
    display: none;
  }

  .navbar .rightSide {
    justify-content: flex-end;
    padding-right: 50px;
  }

  .navbar .rightSide button {
    display: inherit;
  }

}

@media only screen and (min-width: 600px) {
  .navbar .rightSide button {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }

  
}  */
