.caseStudies2 {
    padding: 20px;
    background-color: #F1F5F9;
  }
  
  .service {
    margin-bottom: 30px;
    margin-left: 100px;
  }
  
  .service h2 {
    font-size: 38px;
    margin-bottom: 20px;
    margin-top: 80px;
    color: #003F63;
  }
  
  .caseStudiesList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .caseStudy {
    width: calc(20% - 100px);
    height: 140px;
    padding: 20px;
    border: 4px solid #90d83e;
    border-radius: 10px;
    background-color: #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    position: relative;
  }
  
  .caseStudy:hover {
    background-color: #e2ffff; /* Change to a primary color on hover */
    transform: translateY(-5px);
    box-shadow: 0px 24px 60px #e2ffff; /* Enhance shadow on hover */
  }
  
  .caseStudy h3 {
    font-size: 24px;
    color: #90d83e; /* Use a bright green color for case study titles */
  }
  
  .caseStudy p {
    font-size: 18px;
    color: #333333;
  }

  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure the modal is above other content */
  }
  
  /* Modal Content Styles */
  .modalContent {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    text-align: center;
  }
  
  
  /* Responsive styles (customize as needed) */
  @media screen and (max-width: 768px) {
    .caseStudy {
      width: calc(50% - 20px);
    }
  }
  
  @media screen and (max-width: 480px) {
    .caseStudy {
      width: 100%;
    }
  }

  